.nav {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: #eee;
}

.logotipo p {
  margin-left: 50%;
}

.nav-itens ul {
  list-style: none;
  display: flex;
}

.nav-itens {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-itens a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 40px;
  transition: all 0.5s ease;
  padding: 20px;
}

.nav-itens a:hover {
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  font-size: 15px;
  padding: 20px;
}
