.card-box {
  width: 50%;
  height: 150px;
  background-color: #fff;
  animation: titleAnimation 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
}

.title-name {
  text-transform: uppercase;
}

.country {
  color: orange;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card-box p {
  text-align: left;
  margin-left: 70px;
}

@keyframes titleAnimation {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
