.container {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    90deg,
    rgb(51, 138, 209),
    rgb(26, 175, 201)
  );
}

.title {
  text-transform: uppercase;
  font-size: 56px;
  animation: titleAnimation 1s;
}

@keyframes titleAnimation {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.inputContainer {
  padding: 15px;
  margin: 15px 0;
  display: flex;
}

.inputContainer input {
  border: 0;
  outline: none;
  font-size: 16px;
  text-align: left;
}

.inputCEP {
  border: none;
  width: auto;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 25px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 5px;
}

.inputCEP::placeholder {
  padding-left: 10px;
  opacity: 0.8;
}

.searchButton {
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  transition: all 0.5s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchButton:hover {
  background-color: #eee;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.localItems {
  display: flex;
  flex-direction: column;
}
